* {
    margin: 0;
    padding: 0;
    
}

body {

    background-color: #fff ;
    width: 100%;
    height: 100%;
    

}

/* Header section */

header {

    background-color: #4C4C4C;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

img {

    background-color: green;
    width: 200px;
    height: 60px;
    margin: 30px;
}


.dots {
    display: flex;
    align-items: center;
    }


.dot {
    background-color: #fff;
    height: 42px;
    width: 40px;
    margin: 40px 20px 40px -9px;
    border-radius: 50%;
    position: relative;
    display: block;
  }


/* Navigation bar */

.navigation-bar .list {

    
    background-color: #fff;
    height: 9.4%;
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.2%;

}


.nav-item {


    background-color: #979797;
    display: inline-block;
    width: 17,61%;
    height: 48px;
    margin: 21px -0.1% 25px 1px;
}

/* Article section */

#articles, .first-article {
    background-color: #fff;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.9%;
    

}

.main-article {
    background-color: #979797;
    width: 329px;
    height: 192px;
    display: inline-block;
    margin-bottom: 25px;
    

}

#blog, .second-article {
    background-color:  #979797;
    width: 100%;
}

.main-blog {
    background-color: #4C4C4C;
    width: 60%;
    height: 453px;
    margin-left: 20%;
    margin-right: 20%;
}

/* Footer Section */

footer {

    background-color:  #4C4C4C;
    height: 70px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    
}

/* Media query */

@media screen and (max-width: 600px) {

    
    
    .list  {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .first-article{
        display: flex;
        flex-direction: column;
    }

    

}
